@model MVCLibrary.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="well bg-white">
    <h1>Nowości</h1>

    <table class="table">
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Autor
            </th>
            <th>
                Kategoria
            </th>
        </tr>

        @foreach (var item in Model.bookViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
            </tr>
        }
    </table>
</div>
<div class="well bg-white">
    <h1>Wiadomości od Admina</h1>

    <table class="table">
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Treść
            </th>
        </tr>

        @foreach (var item in Model.messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contnet)
                </td>
            </tr>
        }
    </table>
</div>