@model IEnumerable<MVCLibrary.ViewModels.LendViewModel>

@{
    ViewBag.Title = "UserLEnd";
}

<h2>Wypożyczenia użytkownika</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBorrowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturn)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBorrowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturn)
        </td>
    </tr>
}

</table>

@Html.ActionLink("< Wróć do profilu", "Profile", "User", null, new { @class = "action-link" })
