@model IEnumerable<MVCLibrary.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootName)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RootName)
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = item.Id })" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj
                    </a>
                </td>
            }
        </tr>
    }

</table>
